In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

# Read data

In [2]:
GJ_2005 = pd.read_csv('NHIS_OPEN_GJ_2005.CSV')
GJ_2005.head()

,year,identity,sex,age,city,height,weight,visual_left,visual_right,auditory_left,...,gtp,smoke,alcohol,dental_exam,dental_caries,missing_tooth,tooth_abrasion,third_molar,scale,data_year
0,2005,788778,2,1,29,145,40,1.0,1.2,1.0,...,13,1.0,0.0,1,0.0,0.0,0.0,NaN,1.0,20151220
1,2005,941394,2,1,41,145,40,0.9,0.9,1.0,...,8,1.0,0.0,1,0.0,0.0,0.0,NaN,0.0,20151220
2,2005,734603,2,1,27,145,40,1.0,1.0,1.0,...,13,1.0,0.0,0,NaN,NaN,NaN,NaN,NaN,20151220
3,2005,174820,2,1,47,145,40,1.2,0.8,1.0,...,33,1.0,1.0,1,0.0,0.0,0.0,NaN,0.0,20151220
4,2005,512802,2,1,41,145,40,0.5,0.8,1.0,...,14,1.0,1.0,0,NaN,NaN,NaN,NaN,NaN,20151220

In [3]:
GJ_2006 = pd.read_csv('NHIS_OPEN_GJ_2006.CSV')
GJ_2006.head()

,year,identity,sex,age,city,height,weight,visual_left,visual_right,auditory_left,...,gtp,smoke,alcohol,dental_exam,dental_caries,missing_tooth,tooth_abrasion,third_molar,scale,data_year
0,2006,560035,2,1,44,145,35,1.2,1.2,1.0,...,9,1.0,0.0,1,0.0,0.0,0.0,NaN,0.0,20151220
1,2006,723131,2,1,26,145,40,0.9,1.0,1.0,...,11,1.0,0.0,1,1.0,0.0,0.0,NaN,1.0,20151220
2,2006,566158,2,1,44,145,40,0.6,0.7,1.0,...,14,1.0,1.0,1,1.0,0.0,0.0,NaN,0.0,20151220
3,2006,959915,2,1,11,145,40,1.5,1.1,1.0,...,14,1.0,1.0,1,1.0,0.0,0.0,NaN,1.0,20151220
4,2006,871075,2,1,43,145,45,1.2,1.5,1.0,...,11,1.0,0.0,1,0.0,0.0,0.0,NaN,1.0,20151220

# Making train & test data set

## train set

In [4]:
train=GJ_2005[['sex','age','city','height','weight','smoke','alcohol','visual_left','visual_right','b_press_contract','b_press_relax','cholesterol','b_sugar','got_ast','got_alt','gtp']]
train.head()

,sex,age,city,height,weight,smoke,alcohol,visual_left,visual_right,b_press_contract,b_press_relax,cholesterol,b_sugar,got_ast,got_alt,gtp
0,2,1,29,145,40,1.0,0.0,1.0,1.2,100,60,165,96,12.0,21.0,13
1,2,1,41,145,40,1.0,0.0,0.9,0.9,110,75,176,99,17.0,8.0,8
2,2,1,27,145,40,1.0,0.0,1.0,1.0,116,68,139,81,13.0,9.0,13
3,2,1,47,145,40,1.0,1.0,1.2,0.8,120,70,138,72,24.0,18.0,33
4,2,1,41,145,40,1.0,1.0,0.5,0.8,120,80,119,87,11.0,14.0,14

## test set

In [5]:
test=GJ_2006[['sex','age','city','height','weight','smoke','alcohol','visual_left','visual_right','b_press_contract','b_press_relax','cholesterol','b_sugar','got_ast','got_alt','gtp']]
test.head()

,sex,age,city,height,weight,smoke,alcohol,visual_left,visual_right,b_press_contract,b_press_relax,cholesterol,b_sugar,got_ast,got_alt,gtp
0,2,1,44,145,35,1.0,0.0,1.2,1.2,100,70,145,89,17.0,10.0,9
1,2,1,26,145,40,1.0,0.0,0.9,1.0,100,70,179,71,18.0,11.0,11
2,2,1,44,145,40,1.0,1.0,0.6,0.7,130,80,178,80,19.0,16.0,14
3,2,1,11,145,40,1.0,1.0,1.5,1.1,119,77,138,82,22.0,11.0,14
4,2,1,43,145,45,1.0,0.0,1.2,1.5,100,80,141,85,23.0,14.0,11

In [32]:
feature_names=['sex','age','city','height','weight']
label_name=['smoke']
X_train=train[feature_names]
Y_train=train[label_name]
X_test=test[feature_names]
Y_test=test[label_name]
X_train=X_train.fillna(X_train.mean())
Y_train=Y_train.fillna(Y_train.mean())
X_test=X_test.fillna(X_test.mean())
Y_test=Y_test.fillna(Y_test.mean())

# Linear model

## linear regression

## Ridge

In [33]:
from sklearn.linear_model import Ridge

In [34]:
ridge=Ridge(alpha=0.01).fit(X_train,Y_train)

In [35]:
score_train=ridge.score(X_train,Y_train)
score_train

0.29521145530783532

In [36]:
score_test=ridge.score(X_test,Y_test)
score_test

0.28986677890664891

## Lasso

In [37]:
from sklearn.linear_model import Lasso

In [38]:
lasso=Lasso(alpha=0.0001,max_iter=100000).fit(X_train,Y_train)

In [39]:
score_train=lasso.score(X_train,Y_train)
score_train

0.29521132794018912

In [40]:
score_test=lasso.score(X_test,Y_test)
score_test

0.28987399436185879

# Decision tree

In [41]:
from sklearn.tree import DecisionTreeRegressor

In [42]:
tree=DecisionTreeRegressor().fit(X_train,Y_train)

In [43]:
score_train=tree.score(X_train,Y_train)
score_train

0.3289049783463448

In [44]:
score_test=tree.score(X_test,Y_test)
score_test

0.29010058451305287

# Deep learning

In [46]:
from sklearn.neural_network import MLPRegressor
from sklearn.datasets import make_moons

In [48]:
mlp=MLPRegressor(solver='lbfgs',random_state=0).fit(X_train,Y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\neural_network\multilayer_perceptron.py:1266: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [50]:
score_train=mlp.score(X_train,Y_train)
score_train

0.28703165299540578

In [51]:
score_test=mlp.score(X_test,Y_test)
score_test

0.28212160782138795